body {
    background-color: rgb(4, 13, 18);
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
}

.container {
    max-width: 1400px;
    margin: 0 auto;
  }

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/img/caceres.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 200px 0;
    text-align: center;
}

header h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
}

header h2 {
    font-size: 2rem;
    font-weight: 400;
}

header h3{
    font-weight: 700;
    letter-spacing: 0.3rem;
}

header a {
    background-color: white;
    border: 1px solid white;
    color: black;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

header a:hover {
    background-color: black;
    color: white;
    opacity: 0.7;
}

.button-container {
    margin: 0 auto;
    max-width: 200px;
}

@media (max-width: 900px) {
    header {
      padding: 60px 0;
    }
  
    header h1 {
      font-size: 2.3rem;
    }
  
    header h2 {
      font-size: 1.1rem;
    }
  
    header h3 {
      font-size: 0.7rem;
    }

    header a {
        font-size: 0.5rem;
        padding: 10px 15px;
    }
  }